.header {
  width: var(--header-width);
  height: var(--header-height);
  background-color: var(--color-gray-800);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 0 32px;
}

.header_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_brand {
  display: flex;
  align-items: center;
  color: var(--color-white);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.logo_icon {
  font-size: 24px;
  margin-right: 8px;
}

.header_navbar {
  display: flex;
  gap: 32px;
}

.item {
  display: flex;
  align-items: center;
  padding: 6px;
  color: var(--color-white);
  font-size: 16px;
  transition: color 0.4s;
  &:hover {
    color: #00bcd4;
  }
}


.item_icon {
  font-size: 20px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item_nav {
  margin-left: 4px;
}