@import 'normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

:root {
  --color-white: #fff;
  --color-gray-800: oklch(27.8% 0.033 256.848); 
  --color-gray-300: oklch(87.2% 0.01 258.338);
  --header-height: 84px;
  --header-width: 1905px;
  --header-container-height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--color-white);
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  width: 100%;
  max-width: var(--header-width);
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}
a[href] {
  color: var(--text-color);
  text-decoration: none;
}
